body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: lightgray;
}

h1 {
    color: black;
}

.deck {
    display: inline-block;
    width: 150px;
    height: 200px;
    background-color: darkgreen;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.deck:hover {
    background-color: forestgreen;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.card {
    width: 80px;
    height: 120px;
    background-color: white;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin: 5px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
